.App {
  /* background-color: rgb(28, 28, 28);
  min-height: 100vh; */
}

.button-wrap {
  text-align: center;
  padding-top: 40px;
}

.fetch-button {
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.movie-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.movie-list {
  display: flex;
  flex-direction: row;
}

.movie-poster-link-wrap {
  word-wrap: break-word;
}

.movie-list-scroll-button-wrap {
  width: 10%;
}

.movie-poster-link-text {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}
